@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-btn {  
 color: #fff;   
 background-color: $color-red;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-inline: auto;
 // text-align: center;
 border: 0.1rem solid transparent; //初期状態では透明な枠線
 transition: all 0.4s; 
}

.c-btn:hover {
 border: 0.1rem solid $color-red;     
 color: $color-red;
 background-color: #fff;
 } 

 